name: Web deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build sql.js
        run: dart run sqflite_common_ffi_web:setup

      - name: Copy SQL wasm
        run: |
          mkdir -p build/web/assets/sqlite
          cp -r build/sqlite3/* build/web/assets/sqlite/ || true


      - name: Build web
        run: flutter build web --release --base-href "/flutter_about_me/"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
